<body>
  <h1>My Trips</h1>
  {% if user.is_authenticated %}
  <p>Welcome {{ user.username }}. You are logged in.</p>
  <p>
      <form method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
      </form>
  </p>
  {% else %}
  <p>You are not logged in. <a href="{% url 'login' %}">Login</a></p>
  {% endif %}

  <ul>
      {% for trip in trips %}
      <li>
          {{ trip.country }} - {{ trip.city }} - {{ trip.start_date }} - {{
          trip.end_date }}
      </li>
      {% endfor %}
  </ul>
</body>
</html>